<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../../style.css"/>

<!--	BOOTSTRAP CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="Legend.js"></script>
</head>
<body>
<div class="container py-1">
	<div class="row" id="legend-name">
		Assessed Property Value *
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-1">
		</div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-2"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-3"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-4"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-5"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-6"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-7"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-8"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-9"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-2" id="color-box-bracket-10"></div>
		<div class="col-10">
			$xx,xxx.xx - $xxx,xxx.xx
		</div>
	</div>
</div>

<div class="container py-3">
	<div class="row" id="footnote">
		* Range of assessed property values broken into deciles
	</div>
</div>

</body>
</html>