<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../../style.css"/>
	<script src="Legend.js"></script>
</head>
<body>
<div>
	<h4>Assessed Property Values</h4>
</div>
<div class="container">
	<div class="row">
		<div class="col"></div>
			<div id="color-box-bracket-1"></div>
		<div class="col"></div>
			<div><label for="bracket-1"> $xx.00 - $xx.00</label></div>
	</div>
</div>

	<div id="color-box-bracket-2"> $xx.00 - $xx.00</div>
		<div><label for="bracket-2"> $xx.00 - $xx.00</label></div>
	<div id="color-box-bracket-3"> $xx.00 - $xx.00</div>
		<div><label for="bracket-3"> $xx.00 - $xx.00</label></div>
	<div id="color-box-bracket-4"> $xx.00 - $xx.00</div>
		<div><label for="bracket-4"> $xx.00 - $xx.00</label></div>
	<div id="color-box-bracket-5"> $xx.00 - $xx.00</div>
		<div><label for="bracket-5"> $xx.00 - $xx.00</label></div>
	<div id="color-box-bracket-6"> $xx.00 - $xx.00</div>
		<div><label for="bracket-6"> $xx.00 - $xx.00</label></div>
	<div id="color-box-bracket-7"> $xx.00 - $xx.00</div>
		<div><label for="bracket-7"> $xx.00 - $xx.00</label></div>
	<div id="color-box-bracket-8"> $xx.00 - $xx.00</div>
		<div><label for="bracket-8"> $xx.00 - $xx.00</label></div>
	<div id="color-box-bracket-9"> $xx.00 - $xx.00</div>
		<div><label for="bracket-9"> $xx.00 - $xx.00</label></div>
	<div id="color-box-bracket-10"> $xx.00 - $xx.00</div>
		<div><label for="bracket-10"> $xx.00 - $xx.00</label></div>

</body>
</html>