#icons {
	padding: 10px;
}

#group-name {
	text-align: center;
	padding: 10px;
	font-size: 75%;
	color: azure;
}

.about-apcimap {
	color: blueviolet;
	font-weight: bold;
	text-align: center;
}

.dataset-name {
	text-decoration: underline;
}
