<phpunit>
	<testsuites>
		<testsuite name="ApciMap Data Design">
			<file>PropertyTest.php</file>
			<file>UserTest.php</file>
			<file>CrimeTest.php</file>
			<file>StarTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>