<phpunit>
	<testsuites>
		<testsuite name="ApciMap Data Design">
<!--!!!!!!!!!!!Test file names are commented out.  Will need to be uncommented to run tests as needed!!!!!!!!!!!!-->
			<file>CrimeTest.php</file>
			<file>PropertyTest.php</file>
<!--			<file>Star.php</file>-->
<!--			<file>User.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>